<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-sidebar w3-bar-block w3-light-grey " style="width:20%">
    <div class="w3-container w3-orange">
        <h4>IMDEV</h4>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-dark-grey">ACCUEIL - LISTE COMPTE </a>
    <a href="#" class="w3-bar-item w3-button"> MES COMPTES
    </a>
    <a href="#" class="w3-bar-item w3-button">COMPTES ENTREPRISES </a>
    <a href="#" class="w3-bar-item w3-button w3-dark-grey">DECONNEXION </a>
</div>